{% extends "base.html" %}
{% block title %}Contact Page{% endblock %}

{% block content %}
    <h1>About Me</h1>
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">Pham Thien Nguyen</dd>

        <dt class="col-sm-3">Study Program</dt>
        <dd class="col-sm-9">Biomedical Engineering</dd>

        <dt class="col-sm-3">Student ID</dt>
        <dd class="col-sm-9">1232125</dd>

        <dt class="col-sm-3">E-Mail</dt>
        <dd class="col-sm-9">pham-thien.nguyen@stud.hshl.de</dd>
    </dl>
{% endblock %}