{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
    <main>
        <h1 class="text-center mb-5 pb-3 border-bottom">Blog Posts</h1>
        {% for post in posts %}
        <article class="mb-5 pb-3 border-bottom">
            <a href="{{ url_for('post', post_id=post.id) }}" class="text-decoration-none text-black">
                <h4>{{ post.title }}</h4>
            </a>
            <p>Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
        </article>
        {% endfor %}
    </main>
{% endblock %}
