{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
    <main>
        <h1 class="text-center mb-5 pb-3 border-bottom">Blog Posts</h1>
        {% for post in posts %}
        <article class="mb-5 pb-3 border-bottom">
            <a href="{{ url_for('post', post_id=post.id) }}" class="text-decoration-none text-black">
                <h4>{{ post.title }}</h4>
            </a>
            <p>Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
        </article>
        {% endfor %}

       <nav class="mt-5">
            <ul class="pagination justify-content-center">
                {% if posts.has_prev %}
                    <li class="page-item">
                        <a class="page-link text-center" href="{{ url_for('index', page=posts.prev_num) }}" style="width: 50px;">&lsaquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link text-center" style="width: 50px;">&lsaquo;</span>
                    </li>
                {% endif %}

                <li class=" active">
                    <span class="page-link">Page {{ posts.page }} of {{ posts.pages }}</span>
                </li>

                {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link text-center" href="{{ url_for('index', page=posts.next_num) }}" style="width: 50px;">&rsaquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link text-center" style="width: 50px;">&rsaquo;</span>
                    </li>
                {% endif %}
            </ul>
        </nav>

        </main>
{% endblock %}
